/* Styles */
*{
    box-sizing: border-box;
}
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #333;
    margin: 2%;
}
a {
    color: #b95b03;
}
a:hover{
    color : #ff7f08;
}
h1 {
    color:#ff7f08;
}
h2{
    color:#0f4880;
}

#content {
    max-width: 800px;
    background-color:#fff7f0 ;
}

#footer{
    color:#fff7f0;
    background-color: #222222;
    padding : 20px;
}

.main-navabar, .navbar-brand, .navbar-nav{
    background-color: #b95b03;
    display : flex;
    list-style: none;
    padding : 5px;
    justify-content: flex-start;
    align-items: baseline;
}

a.navbar-brand{
    color:#ffffff;
    text-decoration: none;
    
}
ul.navbar-nav * {
    color:#ffffff;
    margin:10px;
    text-decoration: none;
}


.main-navabar .a:hover {
    color:#fff7f0;
}

article{
    display: flex;
    margin: 20px;
    flex-direction: column;
    border: #CCC 3px solid;
    border-radius: 15px;
    padding:30px;

}

